@use 'variables';
@use 'mixinsFunc';

.footer {
    display: grid;
    grid-template-areas: 
    "grid1 grid2 grid3 grid4"
    "grid5 grid5 grid5 grid5";
    grid-auto-rows: 1fr;
    
    &__grid1 > img, &__grid2 > img, &__grid3 > img, &__grid4 > img {
        min-height: 100%;
    }

    &__grid5 {
        background-color: variables.$footerBg;
        @include mixinsFunc.flexbox(initial, center);
        flex-direction: column;
        gap: 3.5rem;
        padding-top: 4.5rem;
    }

    &__logo {
        scale: 1.5;
        // margin-top: 4.5rem;
    }

    &__links {
        display: flex;
        gap: 2rem;
        width: calc(50% - 2rem);
        margin: 0 auto 2.5rem;
        justify-content: space-evenly;
    }

    &__link {
        text-decoration: none;
        font-family: variables.$fontBarlow;
        font-weight: variables.$barlow600;
        color: variables.$Darkmoderatecyan;

        &:hover {
            color: variables.$White;
            transition: .3s ease;
        }
    }

    &__socials {
        display: flex;
        gap: 1.75rem;
    }
}

@for $i from 1 through 5 {
    .footer__grid#{$i}{
        grid-area: grid#{$i};
    }
}

@media screen and (max-width: 767px) {

    .footer {
        display: grid;
        grid-template-areas: 
        "grid1 grid2"
        "grid3 grid4"
        "grid5 grid5"
        "grid5 grid5";
        grid-auto-rows: 1fr;

        &__logo {
            scale: 1;
        }

        &__links {
            width: calc(100% - 2rem);
        }

        &__grid5 {
            @include mixinsFunc.flexbox(initial, center);
            flex-direction: column;
            gap: 2.5rem;
            padding-top: 4.5rem;
        }
    }

    @for $i from 1 through 5 {
        .footer__grid#{$i}{
            grid-area: grid#{$i};
        }
  }
}

svg {
    color: variables.$Darkmoderatecyan;

    &:hover {
        color: variables.$White;
        transition: .3s ease;
    }
}