//### Primary

$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
//graphi design text//
$graphicDesignText: hsl(167, 40%, 24%);
//photography text//
$photographyText: hsl(198, 62%, 26%);
//footer//
$Darkmoderatecyan: hsl(168, 34%, 41%);

//### Neutral

$Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//##BTN HOVER 

$cyanBtn: rgb(109, 206, 255);

//#HAMBURGUER

$hamburguerLines: hsl(0, 0%, 0%);

//## FONTS

/**/
$px18: 1.125rem;
/**/

$fontBarlow: 'Barlow', sans-serif;
$barlow600: 600;
$fontFraunces : 'Fraunces', serif;
$fraunces700: 700;
$fraunces900: 900;

/* header */
$desktopTitle: 4rem;
$mobileTitle: 2.5rem;

/* grid*/

$gridDesktopFont: 2.75rem;
$gridTabletFont: 2rem;
$gridMobileFont: 1.5rem;


/* testimonials */

$elementsMargin: 1.5rem;

/* FOOTER */

$footerBg: rgb(144, 212, 197);